<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>951189171271-6cg5glgk2e16vcjq2gkq1chnl82mntuc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.951189171271-6cg5glgk2e16vcjq2gkq1chnl82mntuc</string>
	<key>API_KEY</key>
	<string>AIzaSyCY2o5F_INjRbMhM-d6R2cKVtCEUg3WlBc</string>
	<key>GCM_SENDER_ID</key>
	<string>951189171271</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.igortarasenko.lifeacademy</string>
	<key>PROJECT_ID</key>
	<string>lifeacademy-d845d</string>
	<key>STORAGE_BUCKET</key>
	<string>lifeacademy-d845d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:951189171271:ios:dc2e1273648a3eeb</string>
	<key>DATABASE_URL</key>
	<string>https://lifeacademy-d845d.firebaseio.com</string>
</dict>
</plist>